body {
  padding: 1em;
}

.logoContainer {
  text-align: center;
  margin: 1em 0;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
}

.soldOut {
  text-align: center;
}

.productCard {
  border: 1px solid #ccc;
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.productDetails {
  padding: 1em;
}

.image {
  width: 100%;
  height: 400px;
}

.quantity {
  text-align: right;
  border-top: 1px solid #ccc;
  margin-top: 10px;
  color: palevioletred;
}

.quantity.inStock {
  color: lightslategray;
}